@tailwind base;
@layer base {
    @font-face {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../public/fonts/Gilroy/Gilroy-ExtraBold.woff) format('woff');
    }
  }

@tailwind components;
@layer components {
    .heading-1 {
        @apply text-heading-1 text-center font-display
    }

    .btn {
        display: inline-block;
        position: relative;
        font: 800 14px/20px Gilroy, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        padding: 10px 48px;
        border: 1px solid rgba(34, 34, 34, 0.3);
        cursor: pointer;
        color: rgba(34, 34, 34, 1);
        transition: all 0.3s ease-out
    }

    .btn::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 1px;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        gap: 0px;
        opacity: 0px;
        background: rgba(34, 34, 34, 1);
        transition: 
            transform 0.25s ease-out,
            width 0.25s ease-out,
            height 0.4s ease-in,
        
    }

    .btn:hover {
        color: #fff;
        border-color: #222
    }
    .btn:hover::after {
        /* left: 0; */
        /* top: 0; */
        height: 100%;
        transform: translate(0%, -50%);
        z-index: -1;
        width: 100%;
    }
} 

@tailwind utilities;
